.banner-container {

    background: linear-gradient(to top, #f4fffd 0%, #cbffe9 100%);
}

.seach-form {
    display: flex;
    justify-content: space-around;
}

.seach-form.form-group {
    padding: 12px 0;
}

