<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Đăng nhập/Đăng ký</title>
<link th:href="@{/style/home.css}" rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">

						<div class="tab-content">
							<div class="tab-pane fade show active" id="login">
								<h5 class="card-title">Đăng nhập</h5>
								<div th:if="${param.error}" class="alert alert-danger" role="alert">
									<span >Email or password invalid!</span>
								</div>
								<div th:if="${param.logout}" class="alert alert-info" role="alert">
									<span >Logged out successfully</span>
								</div>
								<form action="#" th:action="@{/login-process}" method="post" th:object="${loginDTO}">
									<div class="form-group">
										<input class="form-control" th:field="*{email}" id="emailLogin"
											placeholder="Nhập email">
											<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
									</div>
									<div class="form-group">
										<input class="form-control" th:field="*{password}" id="passwordLogin"
											placeholder="Nhập mật khẩu">
											<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
									</div>
									<button type="submit" class="btn btn-primary">Đăng
										nhập</button>
								</form>
								<p>
									Nếu bạn chưa có tài khoản , vui lòng <a
										th:href="@{/auth/register}">Đăng ký</a>
								</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>