<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đổi mật khẩu</title>=
    <link th:href="@{static/style/output.css}" rel="stylesheet"  />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/icons/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body>

    
    <div th:replace="home/header.html :: body"></div>
    
    <div class="min-h-[100vh] bg-[#f4f5f5] py-[36px]">
        <div class="container">
            <div class="row justify-center">
                <div class="col-8">
                    <div class="bg-white rounded-[8px] px-[24px] py-[28px]">
                        <h4 class="text-[18px]">Thay đổi mật khẩu</h4>
                        <form th:action="@{/}" th:object="${passwordDTO}">
                            
                            <div class="mb-[12px]">
                                <p class="font-[500]">
                                    Email
                                </p>
                                <input class="w-full mt-[10px] h-[40px] px-[12px] cursor-[not-allowed] rounded-[6px]  outline-none border" th:field="*{email}" disabled  />
                            </div>

                            <div class="mb-[12px]">
                                <p class="font-[500]">
                                    Mật khẩu cũ 
                                </p>
                                <input class="w-full mt-[10px] h-[40px] px-[12px] hover:border-[green!important] rounded-[6px]  outline-none border" th:field="*{oldPassword}" placeholder="Nhập họ và tên" />
                            </div>
                            <div class="mb-[12px]">
                                <p class="font-[500]">
                                    Mật khẩu mới
                                </p>
                                <input class="w-full mt-[10px] h-[40px] px-[12px] hover:border-[green!important] rounded-[6px]  outline-none border" th:field="*{newPassword}" placeholder="Nhập số điện thoại" />
                            </div>
                            <div class="mb-[12px]">
                                <p class="font-[500]">
                                    Nhập lại khẩu mới
                                </p>
                                <input class="w-full mt-[10px] h-[40px] px-[12px] hover:border-[green!important] rounded-[6px]  outline-none border" th:field="*{confirmPassword}" placeholder="Nhập số điện thoại" />
                            </div>

                            <button class="text-white font-bold h-[42px] mt-[16px] rounded-[8px] bg-green-600 w-[108px]">Lưu</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

     
   

</body>
</html>