<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Việc làm</title>
     <link th:href="@{/static/style/home.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/style/output.css}" rel="stylesheet"  />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        .link-active p {
            font-weight: 500;
        }

        .link-active div {
            display: block;
        }
    </style>
</head>
<body>
    <div th:replace="home/header.html :: body"></div>
    <div class="mb-[40px]">
        <!-- Phần banner -->
        <div class="bg-gradient-to-tr from-[#fbfffd] to-[#d9ffda] h-[360px]">
            <div class="container flex">
                <div class="flex-1">
                    <div class="flex gap-[36px] pt-[36px] pb-[32px]">
                        <div class="inline-block cursor-pointer" id="danh-sach-cong-ty">
                            <p >Danh sách công ty</p>
                            <div class="bg-[#000] h-[1.5px] hidden mt-[4px]"></div>
                        </div>
                        <div class="inline-block cursor-pointer" id="danh-sach-cong-ty">
                            <p >Top công ty</p>
                            <div class="bg-[#000] h-[1.5px] hidden mt-[4px]"></div>
                        </div>
                    </div>

                    <h4 class="text-green-600 text-[26px] mb-[20px]">Khám phá hơn 1000 công ty nổi bật</h4>                      
                    <p class="text-[17px]">Tra cứu thông tin công ty và tìm kiếm nơi làm việc tốt nhất dành cho bạn</p>

                    <!-- Form -->
                    <form class="flex shadow-md mt-[36px] bg-white rounded-[24px] px-[12px] py-[10px] hover:border-[green!important] border-white border-solid border-[1px]">
                        <div class="px-[12px] flex items-center justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                              </svg>
                        </div>
                        <div class="flex-1 mx-[8px]">
                            <input class="w-full h-full outline-none" type="text" />
                        </div>
                        <button class="rounded-[8px] px-[8px] py-[3px] bg-[green] text-white font-[500]">Tìm kiếm</button>
                    </form>
                </div>
                <div class="flex-1 flex items-center justify-end">
                    <img class="w-[50%]" src="https://static.topcv.vn/v4/image/brand-identity/company-billBoard.png?v=1.0.0" />
                </div>
            </div>
            
        </div>
        
        <div class="container mt-[26px]">
            <h1 class="text-center text-[26px]">DANH SÁCH CÁC CÔNG TY NỔI BẬT</h1>

            <!-- Danh sách công ty  -->
            <div class="row mt-[28px]">
                <div class="col-sm-4 mb-[16px]  px-[8px!important]">
                    <div class="rounded-[8px] shadow-sm cursor-pointer hover:shadow-lg">
                        <div class="relative h-[160px]">
                            <img class="w-full rounded-t-[8px] h-[80%]" src="https://www.topcv.vn/images/default_cover/topcv_cover_1.jpg" />

                            <div class="absolute left-[12px] rounded-[2px] border-[0.5px] border-solid border-[#ccc] bottom-[2px] h-[60px] w-[60px] flex items-center justify-center">
                                <img class="w-full rounded-[2px] max-h-[100%]" src="https://static.topcv.vn/company_logos/aLqYlCplxD7vv8QPPLYJJV4opX1u36bX_1658204941____e28a56536a553ead0529358e3199fa68.png" />
                            </div>
                        </div>
                        <div class="px-[12px] pb-[24px] ">
                            <a class="uppercase mt-[12px] mb-[18px] cursor-pointer text-[15px] text-over overflow-hidden font-[500] text-[#222] hover:text-[green]">CÔNG TY TNHH TRUNG TÂM ANH NGỮ VUS MIỀN BẮC</a>
                            <p class="text-[14px] max-h-[86px] overflow-hidden">" Anh Văn Hội Việt Mỹ VUS là hệ thống giáo dục hàng đầu Việt Nam. Đến nay, hệ thống đã phát triển rộng khắp với 60 cơ sở toàn quốc, đặc biệt là các thành phố trọng điểm như: Hồ Chí Minh. Hà Nội, Đà Nẵng, Bình Dương, Đồng Nai, Vũng Tàu, Buôn Ma Thuột, Cần Thơ, Tây Ninh, Vĩnh Long,... Hiện nay, VUS có hơn 1000 nhân sự hành...</p>
                        </div>



                    </div>
                </div>

                <div class="col-sm-4 mb-[16px]  px-[8px!important]">
                    <div class="rounded-[8px] shadow-sm cursor-pointer hover:shadow-lg">
                        <div class="relative h-[160px]">
                            <img class="w-full rounded-t-[8px] h-[80%]" src="https://www.topcv.vn/images/default_cover/topcv_cover_1.jpg" />

                            <div class="absolute left-[12px] rounded-[2px] border-[0.5px] border-solid border-[#ccc] bottom-[2px] h-[60px] w-[60px] flex items-center justify-center">
                                <img class="w-full rounded-[2px] max-h-[100%]" src="https://static.topcv.vn/company_logos/aLqYlCplxD7vv8QPPLYJJV4opX1u36bX_1658204941____e28a56536a553ead0529358e3199fa68.png" />
                            </div>
                        </div>
                        <div class="px-[12px] pb-[24px] ">
                            <a class="uppercase mt-[12px] mb-[18px] cursor-pointer text-[15px] text-over overflow-hidden font-[500] text-[#222] hover:text-[green]">CÔNG TY TNHH TRUNG TÂM ANH NGỮ VUS MIỀN BẮC</a>
                            <p class="text-[14px] max-h-[86px] overflow-hidden">" Anh Văn Hội Việt Mỹ VUS là hệ thống giáo dục hàng đầu Việt Nam. Đến nay, hệ thống đã phát triển rộng khắp với 60 cơ sở toàn quốc, đặc biệt là các thành phố trọng điểm như: Hồ Chí Minh. Hà Nội, Đà Nẵng, Bình Dương, Đồng Nai, Vũng Tàu, Buôn Ma Thuột, Cần Thơ, Tây Ninh, Vĩnh Long,... Hiện nay, VUS có hơn 1000 nhân sự hành...</p>
                        </div>



                    </div>
                </div>

                <div class="col-sm-4 mb-[16px] px-[8px!important]">
                    <div class="rounded-[8px] shadow-sm cursor-pointer hover:shadow-lg">
                        <div class="relative h-[160px]">
                            <img class="w-full rounded-t-[8px] h-[80%]" src="https://www.topcv.vn/images/default_cover/topcv_cover_1.jpg" />

                            <div class="absolute left-[12px] rounded-[2px] border-[0.5px] border-solid border-[#ccc] bottom-[2px] h-[60px] w-[60px] flex items-center justify-center">
                                <img class="w-full rounded-[2px] max-h-[100%]" src="https://static.topcv.vn/company_logos/aLqYlCplxD7vv8QPPLYJJV4opX1u36bX_1658204941____e28a56536a553ead0529358e3199fa68.png" />
                            </div>
                        </div>
                        <div class="px-[12px] pb-[24px] ">
                            <a class="uppercase mt-[12px] mb-[18px] cursor-pointer text-[15px] text-over overflow-hidden font-[500] text-[#222] hover:text-[green]">CÔNG TY TNHH TRUNG TÂM ANH NGỮ VUS MIỀN BẮC</a>
                            <p class="text-[14px] max-h-[86px] overflow-hidden">" Anh Văn Hội Việt Mỹ VUS là hệ thống giáo dục hàng đầu Việt Nam. Đến nay, hệ thống đã phát triển rộng khắp với 60 cơ sở toàn quốc, đặc biệt là các thành phố trọng điểm như: Hồ Chí Minh. Hà Nội, Đà Nẵng, Bình Dương, Đồng Nai, Vũng Tàu, Buôn Ma Thuột, Cần Thơ, Tây Ninh, Vĩnh Long,... Hiện nay, VUS có hơn 1000 nhân sự hành...</p>
                        </div>



                    </div>
                </div>
                <div class="col-sm-4 mb-[16px] px-[8px!important]">
                    <div class="rounded-[8px] shadow-sm cursor-pointer hover:shadow-lg">
                        <div class="relative h-[160px]">
                            <img class="w-full rounded-t-[8px] h-[80%]" src="https://www.topcv.vn/images/default_cover/topcv_cover_1.jpg" />

                            <div class="absolute left-[12px] rounded-[2px] border-[0.5px] border-solid border-[#ccc] bottom-[2px] h-[60px] w-[60px] flex items-center justify-center">
                                <img class="w-full rounded-[2px] max-h-[100%]" src="https://static.topcv.vn/company_logos/aLqYlCplxD7vv8QPPLYJJV4opX1u36bX_1658204941____e28a56536a553ead0529358e3199fa68.png" />
                            </div>
                        </div>
                        <div class="px-[12px] pb-[24px] ">
                            <a class="uppercase mt-[12px] mb-[18px] cursor-pointer text-[15px] text-over overflow-hidden font-[500] text-[#222] hover:text-[green]">CÔNG TY TNHH TRUNG TÂM ANH NGỮ VUS MIỀN BẮC</a>
                            <p class="text-[14px] max-h-[86px] overflow-hidden">" Anh Văn Hội Việt Mỹ VUS là hệ thống giáo dục hàng đầu Việt Nam. Đến nay, hệ thống đã phát triển rộng khắp với 60 cơ sở toàn quốc, đặc biệt là các thành phố trọng điểm như: Hồ Chí Minh. Hà Nội, Đà Nẵng, Bình Dương, Đồng Nai, Vũng Tàu, Buôn Ma Thuột, Cần Thơ, Tây Ninh, Vĩnh Long,... Hiện nay, VUS có hơn 1000 nhân sự hành...</p>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

	
    
    
    
    
    <script>
        // Kiểm tra đường dẫn hiện tại và áp dụng kiểu cho liên kết tương ứng
        var currentPath = window.location.pathname;
      
        if (currentPath === '/cong-ty') {
          document.getElementById('danh-sach-cong-ty').classList.add('link-active');
        } else if (currentPath === '/cong-ty/top') {
          document.getElementById('top-cong-ty').classList.add('link-active');
        }
      </script>
    
</body>
</html>