<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Việc làm</title>
     <link th:href="@{/static/style/home.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/style/output.css}" rel="stylesheet"  />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="home/header.html :: body"></div>
   
    
    <div th:replace="home/slide-banner.html :: body"></div>

    <!-- Phần content -->
    <div class="bg-[#f4f5f5]">
        <div class="container pt-[24px]">
    
            <div class="row">
                <div class="col-sm-8 ">
                    <div class="bg-white px-[16px] py-[18px] rounded-[10px]">
                        <div class="flex items-center justify-between mb-[24px]">
                            <h4 class="text-[20px]">Công việc đã ứng tuyển</h4>
                            <div>
                                <div class="relative inline-flex cursor-pointer">
                                    <select class="block appearance-none w-full bg-white border border-gray-300 hover:border-[green] px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                                      <option>Option 1</option>
                                      <option>Option 2</option>
                                      <option>Option 3</option>
                                    </select>
                                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                        <path d="M10 12l-6-6h12l-6 6z" />
                                      </svg>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <!-- Danh sách công việc -->
                        <div class="mb-[32px]">
                                <div class="flex p-[12px] mb-[16px] cursor-pointer hover:border-[green] bg-white rounded-[8px] border-[1px] border-solid border-[#ccc] hover:bg-[#fff]">
                                    <div class="w-[100px] mr-[16px] h-[100px] flex items-center justify-center flex-shrink-0 rounded-[8px] border-[1px] border-[#ccc] border-solid">
                                        <img class="w-[100%] rounded-[8px] " src="https://cdn-new.topcv.vn/unsafe/150x/https://static.topcv.vn/company_logos/JuHiMkCc5e5ieyWvd4fmob0gKLSXNXOG_1708317098____e2afbd959c86b1234e36ba08894d9476.jpg" />
                                    </div>
                                    <div >
                                        <div class="flex">
                                            <div>
                                                <h4 class="text-[17px] hover:text-[green]">Biên Tập Viên Nội Dung Video (Content Creator), Thu Nhập Lên Đến 20 Triệu Tại Hà Nội</h4>
                                                <h4 class="text-[15px] text-[#555] font-[400]">CÔNG TY CỔ PHẦN MST ENTERTAINMENT</h4>
                                                <div class="flex gap-[12px] mt-[10px]">
                                                    <p class="text-[15px]">
                                                        <span>Thời gian ứng tuyển : </span>
                                                        <span>04-03-2024 09:27 AM</span>
                                                    </p>
                                                    
                
                                                </div>
                                            </div>
                                            <div class="flex flex-column items-end justify-between min-w-[200px]" >
                                                <p class="font-[500] text-[green]">10 - 12 triệu</p>
                                                <div class="flex gap-[10px]">
                                                    <button class="opacity-[0.7] text-white text-[14px] h-[28px] px-[12px] rounded-[3px] bg-[green]">Nhắn tin</button>
                                                    <button class="px-[6px] bg-[#effbef] flex items-center justify-center rounded-[3px]">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#008000" class="bi bi-heart" viewBox="0 0 16 16">
                                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                                          </svg>
                                                          <span class="ml-[4px]">Xem CV</span>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                        <hr>

                                        <div class="flex justify-between text-[15px]">
                                            <p>
                                                <span>Trạng thái : </span>
                                                <span>Đã ứng tuyển</span>
                                            </p>
                                            <p>
                                                <span>Vào lúc : </span>
                                                <span>04-03-2024 09:27 AM</span>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
                    
                <div class="col-sm-4 bg-white  px-[16px] py-[18px] rounded-[10px]">
                    <div class="flex gap-[16px] mb-[16px]">
                        <img class="w-[72px] h-[72px] rounded-full" src="https://static.topcv.vn/company_logos/cong-ty-co-phan-falcon-technology-81320f9a475dbf9285bacb89bcf6daa3-651398605552d.jpg" />
                        <div>
                            <h4 class="text-[18px]">Nguyễn Đăng Lịch</h4>
                            <p>nguyendanglich30@gamil.com</p>
                        </div>
                    </div>

                    <hr>
                </div>
            </div>
        
    
        </div>

    </div>

</body>
</html>